@page "/"

<h1>Collecting Know-How for Developers!</h1>

<p>Welcome to DKHC-Client!</p>

<ul>
    <li>Manage your Collections</li>
    <li>Create and share Topics</li>
    <li>Sample and share Links</li>
    <li>Communicate with other Users</li>
</ul>

<h3>Access your Knowledge everywhere and everytime!</h3>

<p>Start now, <a href="">login</a> or <a href="">register</a>!</p>
