@page "/login"

<h1>User-Login</h1>

<p>Please login with e-mail-adress and password:</p>
<br>

<div class="login-box">
    <label for="inputEmail">email-adress</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="email-adress">
    <br>
    <label for="inputPassword">password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="password">
    <br>
    <button type="submit" class="btn btn-primary">Confirm</button>
</div>