@page "/register"

<h1>Register as new user</h1>

<p>Please register with your e-mail-adress, name and password:</p>
<br>

<div class="login-box">
    <label for="inputEmail">email-adress</label>
    <input type="email" class="form-control" id="inputEmail" placeholder="email-adress">
    <br>
    <label for="inputFirstName">first name</label>
    <input type="text" class="form-control" id="inputFirstName" placeholder="first name">
    <br>
    <label for="inputLastName">last name</label>
    <input type="text" class="form-control" id="inputLastName" placeholder="last name">
    <br>
    <label for="inputPassword">password</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="password">
    <br>
    <label for="inputPassword2">repeat password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="repeat password">
    <br>
    <button type="submit" class="btn btn-primary">Register Now</button>
</div>