@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <NavLink class="nav-link" href="logout" Match="NavLinkMatch.All">
            <span class="oi oi-account-login" aria-hidden="true"></span> Login
        </NavLink>
        <NavLink class="nav-link" href="logout" Match="NavLinkMatch.All">
            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
        </NavLink>
        <NavLink class="nav-link" href="register" Match="NavLinkMatch.All">
            <span class="oi oi-person" aria-hidden="true"></span> Register
        </NavLink>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
